.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 183px;
    margin-top: 97px;

    @media (max-width: 840px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 27px;
        margin-bottom: 43px;
    }
}

.block-text {
    max-width: 582px;
    z-index: -1;

    @media (max-width: 1450px) {
        padding: 0 30px;
        flex: 0 1 50%;
    }

    @media (max-width: 840px) {
        width: 100%;
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    &__about {
        color: #353535;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.03px;
        line-height: normal;
        text-align: left;
        font-family: $titillium;
        margin-bottom: 10px;
    }

    &__items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 36px;
        color: #7b7b7b;
        font-family: $titillium;
        font-size: $font-sm;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.06px;
        line-height: 32px;
        text-align: left;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            width: 26px;
            height: 32px;
            content: "";
            display: block;
            margin-right: 9px;
            background-image: url("/wp-content/uploads/2021/08/ï˜.png");
        }
    }


    &__title {
        font-family: $titillium;
        color: #ca241f;
        font-size: 50px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.08px;
        line-height: 50px;
        text-align: left;
        margin-bottom: 10px;
    }

    &__description {
        font-family: $titillium;
        color: #7b7b7b;
        font-size: 1.8rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.06px;
        line-height: 32px;
        text-align: left;
        margin-bottom: 10px;
    }

    &__btn {
        font-family: $titillium;
        font-weight: 700;
        font-size: 1.6rem;
        color: #fff;
        padding: 10px 15px;
        display: block;
        background-color: $mainRed;
        margin-right: 0;
        width: fit-content;
        margin-bottom: 10px;

        a {
            color: #fff !important;
            text-decoration: none;
        }
    }
}

.block-image {
    max-width: 706px;
    max-height: 562px;
    z-index: -1;

    @media (max-width: 1450px) {
        flex: 0 1 50%;
    }

    @media (max-width: 840px) {
        width: 100%;
        flex: 1 1 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.service-block {
    margin-top: 30px;
    margin-bottom: 126px;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 29.5px;

        @media (max-width: 1450px) {
            justify-content: space-around;
        }

        @media (max-width: 420px) {
            margin: 0;
        }
    }

    &__item {
        display: block;
        width: 338px;
        height: 338px;
        margin-bottom: 30px;
        flex: 0 0 auto;
        z-index: -1;

        @media (max-width: 420px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    &__item-quote {
        background-color: white;
        width: 338px;
        height: 338px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;

        @media (max-width: 420px) {
            width: 100%;
            margin: 0;
        }

        > div {
            color: $mainRed;
            font-size: 30px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: -0.05px;
            line-height: normal;
            text-align: center;
        }
    }

    &__item-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 676px;
        z-index: -1;
        text-align: center;
        padding: 0 50px;

        @media (max-width: 1450px) {
            order: -1;
            flex: 1 0 100%;
            max-width: 100%;
        }

    }

    &__label {
        opacity: 0.79;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        align-self: flex-start;

        @media (max-width: 1450px) {
            align-self: center;
        }
    }

    &__description {
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.08px;
        line-height: 50px;
        text-align: left;
    }

}

.custom-background {
    position: relative;
    overflow: hidden;

}

.custom-background:before {
    content: '';
    position: absolute;
    top: 35%;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient(180deg, rgba(202, 36, 31, 0.9) 50%, rgba(202, 36, 31, 0.9)) 50%, url(/wp-content/uploads/2021/08/Bespoke_Vessels__Chambers-1.png) no-repeat;
    z-index: -1;
    transform: rotate(-12deg) scale(1);
    overflow: hidden;

    @media (max-width: 1450px) {
        width: 260%;
        height: 100%;
        left: -120px;
        top: 28%;
    }

    @media (max-width: 700px) {
        top: 20%;
        width: 350%;
        left: -250px;
    }
}
